.jumbotron
  text-align center
  margin 15px

.copyright
  text-align right
  
body .container
  padding-bottom 80px

.footer
  position absolute
  bottom 0
  left 0
  height 80px
  width 100%
  padding 10px

.category a
  text-decoration none